USE [master]
GO
/****** Object:  Database [CB11-Project1]    Script Date: 18/09/2020 18:10:23 ******/
CREATE DATABASE [CB11-Project1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CB11-Project1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CB11-Project1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CB11-Project1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\CB11-Project1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 COLLATE Latin1_General_CI_AS
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CB11-Project1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Object:  Login [NT SERVICE\Winmgmt]    Script Date: 18/09/2020 18:10:23 ******/
CREATE LOGIN [NT SERVICE\Winmgmt] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLWriter]    Script Date: 18/09/2020 18:10:23 ******/
CREATE LOGIN [NT SERVICE\SQLWriter] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLTELEMETRY]    Script Date: 18/09/2020 18:10:23 ******/
CREATE LOGIN [NT SERVICE\SQLTELEMETRY] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT SERVICE\SQLSERVERAGENT]    Script Date: 18/09/2020 18:10:23 ******/
CREATE LOGIN [NT SERVICE\SQLSERVERAGENT] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT Service\MSSQLSERVER]    Script Date: 18/09/2020 18:10:23 ******/
CREATE LOGIN [NT Service\MSSQLSERVER] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [NT AUTHORITY\SYSTEM]    Script Date: 18/09/2020 18:10:23 ******/
CREATE LOGIN [NT AUTHORITY\SYSTEM] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/****** Object:  Login [LAPTOP-AAL94EP0\vasil]    Script Date: 18/09/2020 18:10:23 ******/
CREATE LOGIN [LAPTOP-AAL94EP0\vasil] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english]
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyTsqlExecutionLogin##]    Script Date: 18/09/2020 18:10:23 ******/
CREATE LOGIN [##MS_PolicyTsqlExecutionLogin##] WITH PASSWORD=N'O3jjyySQb0O1m8Ryy5FTMX7ncznm03WQze7ANmNZCYU=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyTsqlExecutionLogin##] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Object:  Login [##MS_PolicyEventProcessingLogin##]    Script Date: 18/09/2020 18:10:23 ******/
CREATE LOGIN [##MS_PolicyEventProcessingLogin##] WITH PASSWORD=N'vuy67VwM37uG4yZh4U5SZmYGOj7WsLiJQ7Rs624lokI=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyEventProcessingLogin##] DISABLE
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\Winmgmt]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLWriter]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLSERVERAGENT]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT Service\MSSQLSERVER]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [LAPTOP-AAL94EP0\vasil]
GO
USE [CB11-Project1]
GO
GRANT VIEW ANY COLUMN ENCRYPTION KEY DEFINITION TO [public] AS [dbo]
GO
GRANT VIEW ANY COLUMN MASTER KEY DEFINITION TO [public] AS [dbo]
GO
/****** Object:  Table [dbo].[Assignments]    Script Date: 18/09/2020 18:10:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Assignments](
	[AID] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[description] [varchar](500) COLLATE Latin1_General_CI_AS NULL,
	[subDateTime] [date] NULL,
	[oralMark] [int] NULL,
	[totalMark] [int] NULL,
 CONSTRAINT [PK_Assignments] PRIMARY KEY CLUSTERED 
(
	[AID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AssignmentsPerCourse]    Script Date: 18/09/2020 18:10:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssignmentsPerCourse](
	[AID] [int] NOT NULL,
	[CID] [int] NOT NULL,
 CONSTRAINT [PK_AssignmentsPerCourse_1] PRIMARY KEY CLUSTERED 
(
	[AID] ASC,
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AssignmentsPerStudent]    Script Date: 18/09/2020 18:10:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssignmentsPerStudent](
	[SID] [int] NOT NULL,
	[AID] [int] NOT NULL,
 CONSTRAINT [PK_AssignmentsPerStudent_1] PRIMARY KEY CLUSTERED 
(
	[SID] ASC,
	[AID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 18/09/2020 18:10:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Courses](
	[CID] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[stream] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[type] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[startDate] [date] NULL,
	[endDate] [date] NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Students]    Script Date: 18/09/2020 18:10:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Students](
	[SID] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[lastName] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[dateOfBirth] [date] NULL,
	[tuitionFees] [int] NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[SID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StudentsPerCourse]    Script Date: 18/09/2020 18:10:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentsPerCourse](
	[SID] [int] NOT NULL,
	[CID] [int] NOT NULL,
 CONSTRAINT [PK_StudentsPerCourse_1] PRIMARY KEY CLUSTERED 
(
	[SID] ASC,
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trainers]    Script Date: 18/09/2020 18:10:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Trainers](
	[TID] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[lastName] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[subject] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
 CONSTRAINT [PK_Trainers] PRIMARY KEY CLUSTERED 
(
	[TID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TrainersPerCourse]    Script Date: 18/09/2020 18:10:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainersPerCourse](
	[TID] [int] NOT NULL,
	[CID] [int] NOT NULL,
 CONSTRAINT [PK_TrainersPerCourse_1] PRIMARY KEY CLUSTERED 
(
	[TID] ASC,
	[CID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AssignmentsPerCourse]  WITH CHECK ADD  CONSTRAINT [AssignmentID] FOREIGN KEY([AID])
REFERENCES [dbo].[Assignments] ([AID])
GO
ALTER TABLE [dbo].[AssignmentsPerCourse] CHECK CONSTRAINT [AssignmentID]
GO
ALTER TABLE [dbo].[AssignmentsPerCourse]  WITH CHECK ADD  CONSTRAINT [CourseID-A] FOREIGN KEY([CID])
REFERENCES [dbo].[Courses] ([CID])
GO
ALTER TABLE [dbo].[AssignmentsPerCourse] CHECK CONSTRAINT [CourseID-A]
GO
ALTER TABLE [dbo].[AssignmentsPerStudent]  WITH CHECK ADD  CONSTRAINT [AssignmentID-A] FOREIGN KEY([AID])
REFERENCES [dbo].[Assignments] ([AID])
GO
ALTER TABLE [dbo].[AssignmentsPerStudent] CHECK CONSTRAINT [AssignmentID-A]
GO
ALTER TABLE [dbo].[AssignmentsPerStudent]  WITH CHECK ADD  CONSTRAINT [StudentID-A] FOREIGN KEY([SID])
REFERENCES [dbo].[Students] ([SID])
GO
ALTER TABLE [dbo].[AssignmentsPerStudent] CHECK CONSTRAINT [StudentID-A]
GO
ALTER TABLE [dbo].[StudentsPerCourse]  WITH CHECK ADD  CONSTRAINT [CourseID] FOREIGN KEY([CID])
REFERENCES [dbo].[Courses] ([CID])
GO
ALTER TABLE [dbo].[StudentsPerCourse] CHECK CONSTRAINT [CourseID]
GO
ALTER TABLE [dbo].[StudentsPerCourse]  WITH CHECK ADD  CONSTRAINT [StudentID] FOREIGN KEY([SID])
REFERENCES [dbo].[Students] ([SID])
GO
ALTER TABLE [dbo].[StudentsPerCourse] CHECK CONSTRAINT [StudentID]
GO
ALTER TABLE [dbo].[TrainersPerCourse]  WITH CHECK ADD  CONSTRAINT [CourseID-T] FOREIGN KEY([CID])
REFERENCES [dbo].[Courses] ([CID])
GO
ALTER TABLE [dbo].[TrainersPerCourse] CHECK CONSTRAINT [CourseID-T]
GO
ALTER TABLE [dbo].[TrainersPerCourse]  WITH CHECK ADD  CONSTRAINT [TrainerID] FOREIGN KEY([TID])
REFERENCES [dbo].[Trainers] ([TID])
GO
ALTER TABLE [dbo].[TrainersPerCourse] CHECK CONSTRAINT [TrainerID]
GO
USE [master]
GO
